@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-user-drag: none;
}

.RCP {
  width: 100% !important;
}

.RCP > svg {
  width: 100%;
  height: 100%;
}

.rs-steps-vertical .rs-steps-item {
  padding-bottom: 0;
}

.rs-steps-small .rs-steps-item-description {
  margin-top: 5px;
}

.miru--info > .rs-steps > .rs-steps-item .rs-steps-item-icon-wrapper {
  width: 20px;
  height: 20px;
}
.miru--info > .rs-steps > .rs-steps-item .rs-steps-item-icon-wrapper .rs-icon {
  font-size: 10px;
}

.miru--info > .rs-steps > .rs-steps-item .rs-steps-item-tail {
  left: 9px;
  top: 30px;
}

/* start wave animation */

.floating-animation {
  animation: float 6s ease-in-out infinite;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
